<ion-header>
  <ion-toolbar color = "secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip>
    <ion-label>Default</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-label color="secondary">Secondary label</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-icon name="heart" color="dark"></ion-icon>
    <ion-label>Default</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-icon name="pin" color="danger"></ion-icon>
    <ion-label>icon chip</ion-label>
    <ion-icon name="close"color= "success"></ion-icon>
  </ion-chip>
  <ion-chip>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>avatar chip</ion-label>
    <ion-icon name="close-circle" color= "danger"></ion-icon>
  </ion-chip>
  

</ion-content>
