<ion-header>
  <ion-toolbar color = "secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Animação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="animate__animated animate__bounce animate__delay-1s animate__infinite" src="\assets\caveira_bordado1.jpg">
  <img class="animate__animated animate__fadeIn animate__delay-1s animate__infinite" src="\assets\caveira_bordado1.jpg">
  <img class="animate__animated animate__flash animate__delay-1s animate__infinite" src="\assets\caveira_bordado1.jpg">
  <img class="animate__animated animate__pulse animate__delay-1s animate__infinite" src="\assets\caveira_bordado1.jpg">
  <img class="animate__animated animate__rubberBand animate__delay-1s animate__infinite" src="\assets\caveira_bordado1.jpg">
  <img class="animate__animated animate__shake animate__delay-1s animate__infinite" src="\assets\caveira_bordado1.jpg">
  <img class="animate__animated animate__headShake animate__delay-1s animate__infinite" src="\assets\caveira_bordado1.jpg">
  <img class="animate__animated animate__swing animate__delay-1s animate__infinite" src="\assets\caveira_bordado1.jpg">
  <img class="animate__animated animate__tada animate__delay-1s animate__infinite" src="\assets\caveira_bordado1.jpg">
  <img class="animate__animated animate__wobble animate__delay-1s animate__infinite" src="\assets\caveira_bordado1.jpg">
  <img class="animate__animated animate__bounceInDown animate__delay-1s animate__infinite" src="\assets\caveira_bordado1.jpg">
  <img class="animate__animated animate__bounceInLeft animate__delay-1s animate__infinite" src="\assets\caveira_bordado1.jpg">
  
  
</ion-content>
