<ion-header>
  <ion-toolbar color = "secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Refresh</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="atualizar($event)">
    <ion-refresher-content
    pullingicon="arrow-dropdown"
    pullingText="Puxe para atualizar"
    refreshingSpinner="circles"
    refreshingText="Atualizando...">

    </ion-refresher-content>
  </ion-refresher>

  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Item da Lista</ion-label>
  </ion-item>

</ion-content>
